<div class="row">
    <div class="checkbox w-100">
            <input type="checkbox" id="Sunday" value="Sunday">
            <label for="Sunday" class="btn btn-dark">
                Sunday
            </label>
    </div>
    <button type="submit" class="w-100 p-3 font-weight-bold">
        Cast Vote
    </button>
</div>